#status-bar {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
#note-images {
    display: flex;
    align-items: center;
}
#note-images img {
    margin-right: 0;
}
#welcome-message {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 24px;
    z-index: 1000;
}
#toggle-output {
    margin-top: 20px;
}