/* Style.css */
.button {
    display: inline-block;
    padding: 3px 5px;
    border: 1px solid #000;
    background: #eee;
}

.main {
  width: 95%;
  float: center;
  padding: 15px;
  border: 1px solid red;
}
